.logo{
  width: 200px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error{
  color: red;
}

.mainForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
} 

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
